---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
---

<Layout title="anish.land">
    <div class="w-xs flex flex-col gap-3">
        <h1 class="text-2xl h-full">anish</h1>
        <div class="flex flex-col gap-0.5">
            <Link name="github" href="https://github.com/ap-1">ap-1</Link>
            <Link name="email" href="mailto:i@anish.land">i@anish.land</Link>

            <Link
                name="linkedin"
                href="https://www.linkedin.com/in/anish-pallati/"
                text="anish-pallati">anish-pallati</Link
            >

            <Link
                name="discord"
                href="https://discord.com/users/315249559473225729"
                >@an.ish</Link
            >

            <Link name="pgp" href="/pubkey.asc">
                <code>
                    2A0A 16F5 E026 BE3B A47F <br /> B7A6 841A FB68 9A5B ACCB
                </code>
            </Link>
        </div>

        <!-- <hr class="border-gray-300 my-2" /> -->
    </div>
</Layout>
